
<!-- 	#  resume       :text
		#  cover_letter :text -->

<% if @appl.errors.any?  %>
  	<ol>
    	<% @appl.errors.full_messages.each do |msg| %>
      		<li> <%= msg %> </li>
		<% end %>
	</ol>	
<% end %>


<%= form_for @appl, :html => { :multipart => true } do |f| %>

	<p>
		<%= f.label :resume %>
	    <%= f.file_field :resume %>
	</p>

	<p>
		<%= f.label :cover_letter %>
		<%= f.text_area :cover_letter, cols: "80", rows: "10"  %>
	</p>

	<%= f.submit %>

<% end %>