<!-- 	#  email      :text
		#  name       :text
		#  address    :text -->

<div>
	<p>Employer email   : <%= @employer.email %> </p>
	<p>Employer name    : <%= @employer.name %> </p>
	<p>Employer Address : <%= @employer.address %> </p>
</div>

<div class="map-canvas">
</div>

<% if @current_employer.present? %>
	<div>
		<%= link_to 'Delete', @employer, :method => 'delete', :data => { :confirm => 'Are you sure?'} %>
		<%= link_to 'Edit', edit_employer_path(@employer) %>
	</div>
<% else %>	
	<p class="greysmall">Login as Employer to change these details</p>	
<% end %>


